@media all and (max-width: 767px){
#wrapperHeader{
width:100%;
height:auto;
position: relative;
background-image:url("./background-img.jpg");
background-size: cover;
}
  
  #headerh1{
	float: left;
	color: #fff;
	font-size: 18px;
	padding-top: 20px;
	font-weight: bold;
	box-sizing:border-box;
}
  
  #tagline{
	color: silver;
	font-size: 14px;
	box-sizing:border-box;
}

}
